---
layout: default
title: Home
author:
description: Black and Latinx People In Tech
tags: tech, diversity, inclusion
class: landing
---
<article>
  <section class="section section-intro">
    {% include carousel_landing.html %}
  </section>
  <section class="section section-techies">
    <hr class="section-divider hide-mb" />
      <div class="section-header show-mb">
        <br />
        <h4>
          Black & Latinx People in Tech<br />
          <small>Because Representation Matters</small>
        </h4>
        <br />
      </div>
      <div class="section-content">
        {% include list.html %}
      </div>
  </section>
</article>
