<nav class="navigation">
  <ul>
    <li class="pull-left">
      <a class="btn btn-transparent js-aside-open-left"><i class="fa fa-bars"></i></a>
    </li>
    <li>
      <a class="btn btn-transparent font-zero brand hide-mb" href="/">
        Faces Of Tech</a>
    </li>
    <li class="pull-right">
      <a class="btn btn-transparent font-zero brand show-mb" href="/">FoT</a>
    </li>
    <li class="pull-right">
      <a class="btn btn-primary hide-mb" href="#" data-btn="submitATechie">Submit A Techie</a>
    </li>
  </ul>
</nav>
