<nav class="navigation">
  <ul>
    <li class="pull-left hidden">
      <a class="btn btn-transparent" data-toggle="modal" data-target="#menuModal"><i class="fa fa-bars"></i></a>
    </li>
    <li>
      <a class="btn btn-transparent font-zero brand" href="/">
        Faces Of Tech</a>
    </li>
    <li class="pull-right hidden">
      <a class="btn btn-primary hide-mb" href="#" data-btn="submitATechie" data-toggle="modal" data-target="#submitProfileModal">Submit A Techie</a>
    </li>
  </ul>
</nav>
