@import "mixins";

.btn {
  border-radius: 0px;
  letter-spacing: 1px;
  @include transition(background $steady, color $steady);
}
.btn-transparent {
  &:focus, &:hover {
    outline: none;
    box-shadow: none;
  }
}
.btn-primary {
  color: $btn-primary-font-color;
  background-color: $btn-primary-background-color;
  border-color: $btn-primary-border-color;
  &:hover {
    background: $btn-primary-background-color-hvr;
    border-color: $btn-primary-border-color-hvr;
  }
}
