// =================================
//  HEADER && FOOTER
// =================================
#header {
  top: 0;
  width: 100%;
  z-index: 10;
  display: block;
  position: fixed;
  background: white;
  border-bottom-width: 0;
  border-bottom-style: solid;
  border-bottom-color: $header-border-color;
}
.navigation {
  text-align: center;
}
.navigation {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    height: 48px;
    list-style: none;
    align-items: center;
    display: inline-flex;
    vertical-align: middle;
    @include show-dk { height: 64px; }
  }
  a {
    margin: 0;
    padding: 0 $gutter;
    vertical-align: -webkit-baseline-middle;
  }
  .btn[data-btn="submitATechie"]{
    line-height: 48px;
    @include show-dk { line-height: 64px; }
  }
  .fa-bars, .brand { color: $base-font-color; }
  .brand { font-size: 28px; padding-top: 7px; }
  .fa-bars { font-size: 24px; vertical-align: sub; }
}
@include show-dk {
  .btn[data-btn="submitATechie"]{
  position: relative;
  &:hover {
    &:before, &:after {
      visibility: visible;
      @include opacity(1);
    }
  }
  &:before, &:after {
    top: 0;
    left: 0;
    position: absolute;
    visibility: hidden;
    @include opacity(0);
    @include transition(opacity $steady ease-in-out);
  }
  &:before {
    content: "Know a black or latinx person working in tech?";
    width: 80%;
    color: black;
    margin-left: 10%;
    padding: 10px;
    margin-top: ($base-font-size * 4) + 10;
    font-size: 80%;
    background: white;
    white-space: normal;
    line-height: normal;
    border-radius: 2px;
  }
  &:after {
    content: "";
    width: 0;
    height: 0;
    margin-left: calc(50% - 5px);
    margin-top: ($base-font-size * 4) + 5;
    border-bottom: 5px solid white;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
}
}
